<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ 'static/css/main.css' | url }}" media="screen" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>
  <body>
    <button class="button is-primary">
      button
    </button>
    <div class="container is-widescreen">
      <div class="notification is-primary">
        Hello
      </div>
    </div>
    <div class="content">
      {% block content %} {{ content | safe }} {% endblock %}
    </div>
    <figure class="image is-128x128">
      <img src="../imgs/bucket_white.png">
    </figure>
  </body>
</html>