@charset "utf-8";
@import "../../../node_modules/bulma/bulma.sass";

@font-face {
    font-family: 'Orbit-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/Orbit-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

$navbar-height: 4rem;
$navbar-item-img-max-height: 3.5rem;

@import "../../../node_modules/bulma/sass/components/navbar.sass";

@import "../../../node_modules/bulma/sass/utilities/initial-variables.sass";
@import "../../../node_modules/bulma/sass/utilities/derived-variables.sass";
